deeppavlov==0.0.9
flask==1.0.2
Flask-PyMongo==2.2.0
gensim==3.6.0
pybind11==2.2.3
rasa-nlu==0.13.7
snips-nlu==0.17.3
spacy==2.0.16
tensorflow==1.10.0
wordcloud==1.5.0
git+https://github.com/deepmipt/fastText.git#egg=fastText==0.8.22
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz